<div class="row align-items-center justify-content-center mw-100">
  <div class="col-xs-6 col-sm-6 text-center">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2016/11/19/17/25/furniture-1840463_960_720.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Descarga de usuarios</h5>
        <p class="card-text">Para descargar todos los usuarios en formato CSV pulse el siguiente botón.</p>
        <button class="btn btn-primary" (click)="crearArchivo()">Descargar</button>
      </div>
    </div>
  </div>
</div>
